body {
    /* background-image: url("https://thiswallpaper.com/cdn/hdwallpapers/737/3d%20vector%20dynamic%20rainbow%20high%20definition%20wallpaper.jpg") */
    background-image: url("../images/rainbow1.jpg")
}


h1 {
    color: blue;
    text-align: center;
}

p {
    color: white;
    font-weight: 500;
    text-shadow: 0 0 10px black;
}

button {
    margin: 10px 0 20px 20px;
}

.buttons:hover {
    background-color: gold;
}

.buttons:focus {
    border: 5px inset gold;
}

#characterCreation{
    /* background-color: rgb(89, 185, 131); */
}

#characterCreation:hover {
    border: 2px ridge;
}

input {
    border: 2px solid #333;
    margin: 20px 0px 20px 20px;
}

#gifs {
    margin-left: 20px;
    line-height: 0.5em; 
}

img {
    margin: 30px 0 5px 0; 
}

#anim {
    display: inline-block;
    padding: 20px;
}